.cache/*
.claude/*
.fontconfig/*
.snakemake/*
.Rapp.history
alignment/*
featurecounts/*
logs/*
markdup/*
metrics/*
multiqc_report_data/*
multiqc_report_plots/*
plots/*
qc/*
ribodetector/*
trimming/*
slurm_logs/*
*.log
multiqc_report.html
RNAseq_Dashboard.html
